.hardwareset-container {
    display: flex;
    background-color: blue;
    color: white;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.set-name {
    font-size: 24px;
}

.control-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hardware-input {
    margin: 3px !important;
}

.hardware-button {
    margin: 6px !important;
}