.project-info-container {
    display: flex;
    background-color: rgba(135, 135, 135);
    border-radius: 5px;
    width: 70%;
    color: white;
    border: 1px black solid;
}

.project-info-text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.hardware-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px black solid;
    background-color: rgba(100, 100, 100);
}